@model List<AlunoViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<a href="/aluno/create" class="btn btn-info">Novo Registro</a>
<br />

<h1>Listagem de alunos</h1>
<table class="table table-responsive table-striped">
    <tr>
        <th>Ações</th>
        <th>RA</th>
        <th>Nome</th>
        <th>Mensalidade</th>
        <th>Cidade</th>
        <th>Data de nascimento</th>
    </tr>
    @foreach (AlunoViewModel a in Model)
    {
        <tr>
            <td>
                <a href="/aluno/Edit?id=@a.Id" class="btn btn-info">Editar</a>
                <a href="javascript:apagarAluno(@a.Id)" class="btn btn-danger">Apagar</a>
            </td>
            <td>@a.Id</td>
            <td>@a.Nome</td>
            <td>@a.Mensalidade?.ToString("0.00")</td>
            <td>@a.CidadeId</td>
            <td>@a.DataNascimento.ToShortDateString()</td>
        </tr>
    }
</table>



<script>
    function apagarAluno(id) {
        if (confirm('Confirma a exclusão do registro?'))
            location.href = 'aluno/Delete?id=' + id;
    }
</script>
